@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<PeopleManagement.Models.Person.PersonViewModel>
@{ 
    ViewBag.Title = "Persons List"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchString = Context.Request.Query["searchString"];
}

@section Stylesheets
{
    <link href="~/css/PagedList.css" rel="stylesheet" />
}
<div class="main">
        <div class="container-fluid">
        @using (Html.BeginForm("Index", "Persons", FormMethod.Get))
        {
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-search"></i>
                    <strong>Search</strong>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                @if (searchString != string.Empty)
                                {
                                    <input class="form-control" id="searchString" type="text" name="searchString" placeholder="Search by Person Surname, Id Number or Account Number." autocomplete="off" value="@searchString">
                                }
                                else
                                {
                                    <input class="form-control" id="searchString" type="text" name="searchString" placeholder="Search by Person Surname, Id Number or Account Number." autocomplete="off">
                                }
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.Any())
        {
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <strong>Persons List</strong>
                </div>
                
                <div class="card-body">
                    <a href="@Url.Action("AddPerson", "Persons")" class="btn btn-secondary position-relative add-btn" data-toggle="tooltip" title="Add new person">
                      <i class="fa-solid fa-user-plus"></i> Add New 
                    </a>
                    <div class="table table-bordered table-striped table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <strong>@Html.DisplayNameFor(model => model.First().Name)</strong>
                                    </th>
                                    <th class="d-none d-sm-table-cell">
                                        <strong> @Html.DisplayNameFor(model => model.First().Surname)</strong>
                                    </th>
                                    <th class="d-none d-sm-table-cell">
                                        <strong> @Html.DisplayNameFor(model => model.First().IdNumber)</strong>
                                    </th>
                                    <th>
                                        <strong>Action</strong>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var person in Model)
                                {
                                    <tr>
                                        <th scope="col">
                                            <strong>@person.Name</strong>
                                        </th>
                                        <th class="d-none d-sm-table-cell">
                                            <strong>@person.Surname</strong>
                                        </th>
                                        <th class="d-none d-sm-table-cell">
                                            <strong>@person.IdNumber</strong>
                                        </th>
                                        <th class="d-none d-sm-table-cell">
                                            <a href="@Url.Action("PersonDetails", "Persons", new {personCode = person.code})" data-toggle="tooltip" title="More information"><i class="fa-solid fa-circle-info"></i></a> &nbsp; &nbsp;
                                            <a href="@Url.Action("Edit", "Persons", new {personCode = person.code})" data-toggle="tooltip" title="Edit person"><i class="fa fa-pen"></i></a> &nbsp; &nbsp;
                                            <a href="@Url.Action("DeletePerson", "Persons", new {personCode = person.code})" data-toggle="tooltip" title="Delete @person.Name @person.Surname"><i class="fa fa-trash"></i></a>
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        }
        else
        {
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <strong>Persons List</strong>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary" role="alert">
                        <i class="fa-solid fa-circle-info"></i>
                        <text>No Records Available</text>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
} 
